

{% extends 'root.html' %}

{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

     <!-- ======= About Us Section ======= -->
     <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-4" data-aos="fade-right">
            <h3 style="font-weight: bolder;">DIGITAL SERVICE FOR ALL</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
              Tamarcom Technology is a company that render all in all digital services at affordable price. 
              We have professional team from various IT backgrounds such as developers, web designers, digital marketers and graphic designers.
               The major professional services we render includes website design 
            & development, web-based app & mobile app development, digital marketing and corporate branding services for different sectors including eCommerce, healthcare, education, real estate, and others. 
            </p>
          </div>
         
          <div class="col-lg-4" data-aos="fade-right">
            <h3 style="font-weight: bolder;">Website Development |Web & Mobile App Development | Digital Marketing</h3>
            
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> We professionally provide effective web 
              and mobile services for our customers, which in turn drives their business and generate more revenue for them. Our experts diligently carryout 
              thorough investigation on both market and competitors in a particular niche before crafting a brand. 
              The major areas we focus on include:
              
            </p>
          </div>

          <div class="col-lg-4" data-aos="fade-left">
            <p>
              <ul>
                <li><i class="ri-check-double-line"></i> Web Design and Development. </li>
                <li><i class="ri-check-double-line"></i> Web & Mobile App Development. </li>
                
                <li><i class="ri-check-double-line"></i>Development of eCommerce.</li>
                <li><i class="ri-check-double-line"></i>Digital Marketing services.  </li>
              </ul>
              Everything we do is with the end result in mind. So if you are trying to generate more sales, leads, or transform your business, we have a solution that works. Our techniques have been proven time and time again. 
            </p>
           <!--
            <p class="font-italic">
              We are a dynamic and business focused ICT firm. We introduce a unique set of skills and competences as required for the teeming needs of our clients.
            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p>Tamarcom's management team has extensive experience across a multitude of IT domains. Collectively our management team has 5+ years of experience spanning across Web design & developmen, Machine learning, Marketing & Content writing.

           </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-1.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href="http://www.twitter.com/teslima0 "><i class="icofont-twitter"></i></a>
                  <a href="http://www.facebook.com/teslima0 "><i class="icofont-facebook"></i></a>
                  <a href="http://www.instagram.com/teslima0 "><i class="icofont-instagram"></i></a>
                  <a href="# "><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Oyedotun Teslim</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-2.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Mariam Ali</h4>
                <span>Front-End Team Leader</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-3.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aare Habibulah</h4>
                <span>UX Team Leader</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/team-4.jpg'%}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>O'dotun Olamide</h4>
                <span>Team Lead of Digital Marketing Unit</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Team Section -->

   <!-- ======= Skills Section ======= -->
   <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title" >
        <h2>Skills</h2>
        <p>we develop website with, HTML and css, majorly with Boostra p and Django. I develop application with python programing language. in addition, i'm a data analysist.</p>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

          <div class="progress">
            <p class="skill" >HTML <i class="val"> 90%</i></p>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">50%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

          <div class="progress">
            <span class="skill">PYTHON <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Photoshop <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->
{% endblock %}