{% extends 'blog_base.html' %}

{% block title %} blog post {% endblock %}

{% block content %}
<br><br>
<section class="container">
<h1>Post </h1>
<ul>
{% for post in object_list %}
    <li><a href="{% url  'blogdetailpage' post.pk  %}">{{ post.title}}</a>- 
        <a href="{% url  'category' post.category|slugify  %}">{{ post.category}}</a>
       - {{ post.author.first_name}}  {{ post.author.last_name}} - 
        
        {{ post.post_date }} 
        <small>
        {% if user.is_authenticated %}
        
            {% if user.id == post.author.id %}
   
                 - <a href="{% url  'update_post' post.pk  %}">(edit)</a>
                    <a href="{% url  'delete_post' post.pk  %}">(delete)</a>
            {% endif %}


        {% endif %}
        </small>
        <br>
        {{ post.snippet }}
        </li>
{% endfor %}
</ul>

</section>
{% endblock %}