{% extends 'root.html' %}

{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>Digital Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Digital Service Page</strong></h2>
        </div>

        <div class="row content" style="margin-bottom: 10px;">
          <div class="col-lg-6" data-aos="fade-right">
            <h3 style="font-weight: bolder;">  Web Optimization Services</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
               
            Is your website bringing in enough traffic? is it  on Google's first page results?<br>
            The digital revolution has resulted in a congested Search Engine Result Page (SERP), according to research, 75 percent of users never scrolling past the first page. 
            Businesses from many industries compete to outrank one another and get top rankings in the major search engines.

            <br><br>You can't win the ranking race in such a competitive environment unless you have a solid SEO strategy in place. 
            And it's here that we come in. Our niche-specific, data-driven, and strategic SEO services can help you improve your SERP ranking. 
            
            We offer innovative and results-oriented social media marketing services.
            <br><br>We appoint the brightest minds in the industry to collaborate and fuel your business growth. Allow yourself to concentrate on your business while we handle delivering organic traffic to your website.
            </p>
            <h3 style="font-weight: bolder;"> Content Marketing Services.</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
              
              
          The bedrock of every digital marketing is content. It is instrumental for making you popular online, which in turn make your brand known to the world. 
          Partner with a trustworthy content writer that can help you setup your online brand with the content that's rich with latest industrial data and information. <br><br>
           As a leading digital marketing agency in Nigeria, we will help you craft content that ranks on Google which takes your business to new height. 
           Take advantage of our content marketing services to boost your visibility and glue your customers to your brand.

              
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> </p>
            <h3 style="font-weight: bolder;">Social Media Marketing Services</h3>
              <!-- Slide 1 -->
       
            

             <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> We take into account a company's present brand value and try to improve it.
               For optimum impact, we employ futuristic strategies and imaginative designs. 
               <br><br>Our social media optimization and marketing experts are skilled in managing social media platforms like as Facebook, Twitter, Google+, LinkedIn, and Pinterest. We'll work together to improve your social media 
               presence and generate more leads.</p>
               <ul>
                <li><i class="ri-check-double-line"></i><h4>Facebook Page Management</h4>
                   

                     
        We create Facebook pages, design and publish posts, manage Facebook ads, track campaign performance, respond to potential consumers' questions, and grow your followers with engaging posts.

                  </li>

            <li><i class="ri-check-double-line"></i><h4>  Twitter Page Management</h4>
              
                Twitter is characterized by strong words and popular hashtags. And our social media team are professional in both. 
                We can help you establish a brand authority on this microblogging platform by combining creativity and a set of strategies.
              </li>

              <li><i class="ri-check-double-line"></i><h4>      LinkedIn Profile Management</h4>
              
              
               
                You can increase your brand awareness on this microblog. Authoritative presence on this his platform can benefit both B2B and B2C marketers, which allow them to build network of the like-minded experts.
                
                
                
              </li>



              <li><i class="ri-check-double-line"></i><h4>    Instagram Marketing</h4>
              
               
                With our Instagram marketing experience, you'll be able to increase user engagement. The dynamic social media ecosystem can help you generate more leads and increase conversions with high-end aesthetics,
                 short and compelling videos, and a one-tap buying destination.
                         
              
            
            </ul>
              

          </div>
        </div>


        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
                <h3 style="font-weight: bolder;"> Content Marketing Strategy That Grow Business Faster</h3>
                <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
                  Our SEO-centric, ROI-driven, and customer-driven creative content marketing services are tailored to your specific needs.
                   Before diving into full-fledged content development and marketing, 
              we craft a well-defined, goal-oriented plan. Check our content marketing strategy can help your company grow:</p>
              <ul>
                <li><i class="ri-check-double-line"></i><h4>Clarity On Goal & Objectives </h4>
                   

                     
        All businesses have their goals and objectives they set out to achieve. Having this in mind, we will craft and develop content marketing strategies that suit your peculiarity. 

                  </li>

            <li><i class="ri-check-double-line"></i><h4>   Know Your Target Audience</h4>
              
                It's highly important to understand the target audience so as to be able to create content that interests them and make them glue to your brand. 
                
              </li>

              

              
            
              
              
              
            
            </ul>
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
               <ul>   
                <li><i class="ri-check-double-line"></i><h4>     Calendar Based Content </h4>
              
              
                    We Craft a calendar-based content that sells rights words at the right time to the right audience. 
                    
                    
                  </li>
    
    
    
                  <li><i class="ri-check-double-line"></i><h4>   Optimization Of Content</h4>
                  
                    We optimize content with rich keywords that increase the ranking of website on search engine. </li>
                 

              <li><i class="ri-check-double-line"></i><h4>   Promotion Of Content</h4>
                We use SEO, SMM, and email marketing methods to promote content all across platforms, regardless of whether it's owned, earned or shared media 
                
              </li>


              <li><i class="ri-check-double-line"></i><h4> Auditing Of Content </h4>
                We diligently audit our previous performance and review our strategies where necessary.  
                
              </li>
            </ul> 
                
               

                
                  
             
            </div>
          </div>
  

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
    
       
        <h3>Digital Services - FAQ</h3>
        <p style="text-align: center;">We'll answer some frequently asked questions about development of eCommerce website below. sections below. </p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Which types of content are included in content marketing? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                    
                    Depending on your objectives, we can generate different kinds of content. Blog posts, infographics, videos, articles, classified ads, business listing, case studies, and marketing are all examples of content marketing.

                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How many products can I feature in my ecommerce website?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    It all depend on how you want it. You may add numerous products to your online store and allow many people to access it.
                </p>
              </div>
            </li>
            
            
            
            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the difference between an ecommerce store and a marketplace?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                    The products of a single vendor are shown in an eCommerce store. An online marketplace, on the other hand, sells products from a variety of suppliers. Each vendor has complete control over his or her goods. The administrator has full control over the portal, including the ability to approve products, keep track 
                    of seller commissions, and so on.
                </p>
              </div>
            </li>
            
            
           
            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Which technology is best for eCommerce website development? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                    When it comes to building a strong eCommerce store, picking the correct tech stack is critical. Shopify (including Shopify Plus), Magento, WooCommerce, OpenCart, BigCommerce, and others are some of the most popular and feature-rich eCommerce platforms. Please reach out to us with your requirements so that we can assist you in selecting the best technology stack for your project.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Is my store secure?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Our topmost priority is to ensure that your online store is secured. To achieve this fit, we take a number of steps. For more information about our comprehensive security audit service. 
                </p>
              </div>
            </li>

            

          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->


{% endblock %}