

{% extends 'root.html' %}

{% load static %}

{% block content %}
<link href="{% static 'asset/vendor/aos/aos.css'%}" rel="stylesheet">
<link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'asset/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
<link href="{% static 'asset/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
<link href="{% static 'asset/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
<link href="{% static 'asset/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
<!-- Template Main CSS File -->
<link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>eCommerce</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>eCommerce</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>eCommerce</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h3 style="font-weight: bolder; "> ECOMMERCE WEBSITE CRAFTING SERVICES</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt; font-family:'Times New Roman', Times, serif">
                Do you intend to grow your company by reaching out to customers over the internet? An eCommerce web  is the ideal way to widen your consumer base and sales.
                 With our results-driven eCommerce services, we can assist you in crafting your first online store or overcoming the low patronage of your current one.
                  Hire Tamarcom Technology' expert developers for your irresistible eCommerce that include an excellent user experience, 
                  payment gateway and shipping API integration, sophisticated security features, and easy-to-manage product inventory, among other things.
            </p>
            <h3 style="font-weight: bolder;">Core Features of eCommerce Website Development </h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif" >
                
                
                The features and functionality of an eCommerce website determine its success. As a reputable company that craft eCommerce website in Nigeria, 
                we provide all of the necessary components for a successful online store. We take care of everything, from a beautiful UI/UX to responsiveness 
                across mobile, tablet, desktop, and laptop devices.
                
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif" >
             Furthermore, all of our eCommerce portals are built with the ability to respond to the company
             growth. </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <h4>Development of web portal </h4>
                We are skilled in crafting an excellent user-experience web portals with an effortless combination of remarkable features and high-end 
                functionality. We customized online destinations that reflects the uniqueness of brands which can glue the potential customers to the site.
                </li>
              <li><i class="ri-check-double-line"></i> <h4>Development of enterprise apps</h4>
                We have a track record of developing enterprise-grade apps that are both reliable and secure. Our flexible web apps can change with the market and help your company flourish. We make sure a speedy time to market to give you a competitive advantage.
                </li>
              <li><i class="ri-check-double-line"></i><h4>Development of ecommerce app</h4>
                To assist you in getting started selling online, our professional web developers can create B2B and B2C online shops as well as multi-vendor marketplaces. We provide complete eCommerce website development services, from concept to execution and performance optimization.
                </li>
            </ul>
           
          </div>
        </div>


        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
                <h3 style="font-weight: bolder;"> Advantages of having an eCommerce website </h3>
                <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif" >
                
                Buyers can take advantage of the benefits eCommerce websites provided. They can look at a variety of products regardless of where the stores 
                are located, compare costs and other freebies, and finally choose an online storefront to place their orders. You are missing out on a huge 
                slice of the market if your business is still tied to a physical location. Here's a rundown of the advantages of having an online store.
                
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> <h4>Fast Setup</h4>
                        Unlike physical store, Setting up an eCommerce store fast. However, to get a reputable company that develop eCommerce website is the most difficult task. 
                        Once you scale through the process of selecting right company to craft your online store, you can focus on other important.
                      </li>
                    <li><i class="ri-check-double-line"></i> <h4>Cheaper Cost</h4>

                        
                        Money expended on setting up an ecommerce website is far less to what will be used to build physical store. In addition, 
                        once your website is launched, the money you will need to maintain is cheap compared to what will be use to maintain physical store. 
                       
               
                      </li>
                   
                  </ul>
            </div>
            
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            All what you have to do is to renew your domain name, hosting server space, and a few key plugins periodically. To cap it all, investing 
            in an eCommerce website make economic sense. 

          <ul> <li><i class="ri-check-double-line"></i><h4>Reach</h4>
                        
            Regardless of the location of your company, you will be able to reach out to numerous customers with ecommerce. 
            Simply provide larger inventory of products with competitive price. You can cover the entire country and few other countries of your 
              with a trustworthy shipping company.
            
          </li>
          <li><i class="ri-check-double-line"></i><h4>24x7 Availability</h4>
          The good thing about online store is that it doesn't have opening and closing hours, unlike a physical store that has working hours. This allows customers
           to place an order at their convenient time. Furthermore, 
          an AI chatbots can quickly respond to your clients' questions, which boosts your revenue. </li>
          
          <li><i class="ri-check-double-line"></i><h4>Cheaper Market Cost</h4>
          With the rising costs of advertising in print and electronic media such as television and radio, an eCommerce website can benefit from internet-based marketing. 
          You only have to hire a reputable digital marketing firm to promote your website via SEO, social media, and others.
        </li></ul>

          </div>
  

      </div>
    </section><!-- End About Us Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
    
       
        <h3>eCommerce Services - FAQ</h3>
        <p style="text-align: center;">We'll answer some frequently asked questions about development of eCommerce website below. sections below. <br>If you still have more clarification to ask, feel free to contact one of our specialists.</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is eCommerce website development? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                    The process of bringing a real store online is referred to as ecommerce website development. Developing an eCommerce for a product-centric 
                    company is cost-effective, and strategic way to reach large audience. Customers may choose their favorite things, add them to an integrated cart,
                     pay via a secure payment gateway, and have them delivered without sweat. Having a thorough understanding of eCommerce platforms such as Shopify,
                     WooCommerce, Magento, and third-party plugin integration, among others, is essential when developing an eCommerce site.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How many products can I feature in my ecommerce website?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    It all depend on how you want it. You may add numerous products to your online store and allow many people to access it.
                </p>
              </div>
            </li>
            
            
            
            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the difference between an ecommerce store and a marketplace?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                    The products of a single vendor are shown in an eCommerce store. An online marketplace, on the other hand, sells products from a variety of suppliers. Each vendor has complete control over his or her goods. The administrator has full control over the portal, including the ability to approve products, keep track 
                    of seller commissions, and so on.
                </p>
              </div>
            </li>
            
            
           
            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Which technology is best for eCommerce website development? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                    When it comes to building a strong eCommerce store, picking the correct tech stack is critical. Shopify (including Shopify Plus), Magento, WooCommerce, OpenCart, BigCommerce, and others are some of the most popular and feature-rich eCommerce platforms. Please reach out to us with your requirements so that we can assist you in selecting the best technology stack for your project.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Is my store secure?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Our topmost priority is to ensure that your online store is secured. To achieve this fit, we take a number of steps. For more information about our comprehensive security audit service. 
                </p>
              </div>
            </li>

            

          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

{% endblock %}
<script src="{% static 'asset/vendor/purecounter/purecounter.js'%}"></script>
<script src="{% static 'asset/vendor/aos/aos.js'%}"></script>
<script src="{% static 'asset/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'asset/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'asset/vendor/waypoints/noframework.waypoints.js'%}"></script>
<script src="{% static 'asset/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>
