

{% extends 'root.html' %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Age Calculator</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>Note! this age calculator is for fun</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="Inner Page">
      <div class="container">



      <form action="/add/" method='POST'>
        
         {% csrf_token %}
         <center>
         <div class="form-row">
           <div class="form-group col-md-2">
             <label for="name">Birth Day</label>
             <input type="text" name="num1" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
             <div class="validate"></div>
           </div>
           <div class="form-group col-md-2">
           <label for="name">Birth Month</label>
           <input type="text" name="num2" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
           <div class="validate"></div>
          
           </div>

           <div class="form-group col-md-2">
             <label for="name">Birth year</label>
             <input type="text" name="num3" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
             <div class="validate"></div>
         
          </div>

         </div>

         <div class="form-row">
          <div class="form-group col-md-2">
            <label for="name">Given Day</label>
            <input type="text" name="num4" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="form-group col-md-2">
            <label for="name">Given Month</label>
            <input type="text" name="num5" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
         
          </div>

          <div class="form-group col-md-2">
            <label for="name">Given year</label>
            <input type="text" name="num6" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
        
         </div>

        </div>
      </center>
         
         <div class=""><button type="submit">submit</button></div>
        
        
       </form>
      </div>
    </section>

  </main><!-- End #main -->

 {% endblock %}