{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TAMARCOM TECHNOLOGY</title>
  <meta content="" name="descriptison" content=" Tamarcom Technology/Best IT digital services in Nigeria">
  <meta content="" name="keywords" content="digital services, web app development, mobile app development, video marketing, web design and development, graphic design, content writing, digital marketing, copywriting">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css" rel="stylesheet'%}">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">

  <link href="{% static 'asset/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'asset/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'asset/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'asset/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

  <link href="{% static 'asset/css/style2.css'%}" rel="stylesheet">
 <!-- <link href="{% static 'asset/css/style.css'%}" rel="stylesheet">-->

  <!-- =======================================================
  * Template Name: Company - v2.1.0
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="{% url  'homepage'  %}" class="logo mr-auto"><img src="{% static 'assets/img/logo.jpeg'%}" alt="tamarcom logo" class="img-fluid rounded-circle"></a>
    

    <h1 class="logo mr-auto"><a href="{% url  'homepage'  %}"><span>TAMAR</span>COM <span>TECH</span>NOLOGY</a></h1>
    
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="{% url  'homepage'  %}">Home</a></li>

        <li class="drop-down"><a href="">About</a>
          <ul>
            <li><a href="{% url  'aboutpage'  %}">About Us</a></li>
            <li><a href="{% url  'teampage'  %}">Team</a></li>
            <li><a href="{% url  'testimonialpage'  %}">Testimonials</a></li>
            
          </ul>
        </li>

        <li><a href="{% url  'servicepage'  %}">Services</a></li>
        <li><a href="{% url  'portfoliopage'  %}">Portfolio</a></li>
        <li><a href="{% url  'pricepage'  %}">Pricing</a></li>
        <li><a href="{% url  'bloghomepage'  %}">Blog</a></li>
        <li><a href="{% url  'cont'  %}">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->
<!--
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="https://www.twitter.com/teslim0" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="https://www.facebook.com/oyedotuna" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/teslima0" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="https://www.bxl-skype.com/teslima0" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="https://www.linkedin.com/in/teslim-oyedotun-22412535" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>-->
  </div>

  </div>
</header><!-- End Header -->
<body>
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  {% block content%}
 <!-- ======= Mobile nav toggle button ======= -->
 <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">


        
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({% static 'assets/img/slide/slide-1.jpg'%});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Welcome to <span>Tamarcom</span></h2>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">  Welcome to tamarcom technology website where you can interact with our bright, brilliant team members.
                 Together, we’re creating something remarkable in digital world of ecommerce, responsive web design and development, and content writings. 
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-2.jpeg'%});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>What we do?</h2>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">        
                 We have a track record of developing enterprise-grade apps that are both reliable and secure. Our flexible web apps can change with the market and help your company flourish.
                  We make sure a speedy time to market to give you a competitive advantage. </p> <div class="text-center"> <a href="" class="btn-get-started">Read More</a></div> 
              
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg'%});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>contact address</h2>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 2, new dawn estate sanyo agbamu road ibadan, Oyo State, Nigeria.</p>
              <div class="text-center"><a href="{% url  'contactpage'  %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg'%});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2> Development of Ecommerce </h2>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
               
                We craft user-friendly, online stores and marketplaces that are secure and function well across all browsers and platforms.
                <div class="text-center"><a href="{% url  'ecommmercepage'  %}" class="btn-get-started">Read More</a></div>>
              
              </p>
             
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'assets/img/slide/slide-3.jpg'%});">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>Development Of Custom Application  </h2>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
                
                We develop feature-rich, user-friendly web and mobile apps with compelling UI/UX 
                that reflects the uniqueness of your business. 
              </p>
              <div class="text-center"><a href="{% url  'webappage'  %}" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Home</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-4 col-md-6" data-aos="fade-right">
            <h3 style="font-weight: bolder;">Tamarcom Technology</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">  Welcome to tamarcom technology website, where you can interact with our bright, brilliant team members.
            Together, we’re creating something remarkable in digital world of ecommerce, responsive web design and development, and content writings. <br><br>
            We have a track record of developing enterprise-grade apps that are both reliable and secure. Our flexible web apps can change with the market and help your company flourish.
                  We make sure a speedy time to market to give you a competitive advantage.</p>
            
          </div>
         
          <div class="col-lg-4 col-md-6" data-aos="fade-right">
            <h3 style="font-weight: bolder;">What We Do?</h3>
            
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> We professionally provide effective web 
              and mobile services for our customers, which in turn drives their business and generate more revenue for them. Our experts diligently carryout 
              thorough investigation on both market and competitors in a particular niche before crafting a brand. 
              The major areas we focus on include:
              <ul>
                <li><i class="ri-check-double-line"></i> Web Design and Development. </li>
                <li><i class="ri-check-double-line"></i> Web & Mobile App Development. </li>
                
                <li><i class="ri-check-double-line"></i>Development of eCommerce.</li>
                <li><i class="ri-check-double-line"></i>Digital Marketing services.  </li>
              </ul>
            </p>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-left">
            
            <h3 style="font-weight: bolder;">SMART DIGITAL SERVICES </h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
              tamarcom technology has greatly impacted businesses across the country with custom web design, web-based apps, mobile apps, and digital marketing services. 
              We are able to attain this fit in less than 2 years we started our digital service in Nigeria. 
              You can achieve the aim of your business with our vast yet unique range of digital services across sectors of industry.  
              
            </p>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
              Everything we do is with the end result in mind. So if you are trying to generate more sales, leads, or transform your business, we have a solution that works. Our techniques have been proven time and time again. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  

    <main id="main">
      <!-- ======= About Us Section ======= -->
      <section id="about-us" class="about-us">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Abou Us</strong></h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-4 col-md-6" data-aos="fade-right">
              <h3 style="font-weight: bolder;">DIGITAL SERVICE FOR ALL</h3>
            <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
              Tamarcom technology is a company that render all in all digital services at affordable price. 
              We have professional team from various IT backgrounds such as developers, web designers, digital marketers and graphic designers.
               The major professional services we render includes website design 
               & development, web-based app & mobile app development, digital marketing and corporate branding services for different
                sectors including eCommerce , healthcare, education, real estate, and others.... <a href="{% url  'aboutpage'  %}" class="btn-get-started">Read More</a>
            </p>
            </div>
           
            <div class="col-lg-4 col-md-6" data-aos="fade-right">
              <h3 style="font-weight: bolder;">AI web app development</h3>
              <img src="{% static 'assets/img/portfolio/portfolio-11.jpg'%}"  class="img-fluid" alt="" height='40px'>
                
              </p>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-left">
              
              <h3 style="font-weight: bolder;">Video Explainer </h3>
              <video width="500" height="310" controls>
                <source src="{% static 'videos/adv1.3gp' type= 'video/3gp' %}" class="img-fluid " alt=" advert video">
                your browsers does not support this video
      
              </video>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
    


    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</strong></h2>
          <p style="text-align: center; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">Tamarcom Technology is a leading company that offer digiter services in Nigeria.<br>
           we are driven by our determination to offer best service to our client.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4 style="font-weight: bolder;"><a href="">Web Design & Development</a></h4>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">We craft websites that help businesses grow! In web development services, we believe it shouldn't be one-size-fits-all approach. 
                Each website is distinct, and it necessitates a customized touch in order to suit certain business requirements. 
                Our team of skilled UI/UX designers and full-stack web developers can turn your concept into a reality. <br></br>

                As a reliable website developer in Nigeria, we've helped numerous businesses across the country to create satisfied customers, grow their business,
                 and achieve their goals. We do it all, from LAMP to MEAN, from startup business websites to custom web apps for corporations.
                 Use our custom web design services to create awesome website for your business. <a href="{% url  'webdev'  %}" class="btn-get-started">Read More</a><p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4 style="font-weight: bolder;"><a href="">Digital Marketing Services</a></h4>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
                Hire a digital marketing firm to help your company grow.
                At Tamacom technology, we provide topnotch digital services. Our data and results-driven internet marketing strategy assist in getting the right message to the right people at the right time on the right platform.
                <br><br> We offer digital marketing services such as SEO, Copywriting, content writing, product descriptions and social media post, <a href="{% url  'digital'  %}" class="btn-get-started">Read More</a> by seamlessly blending keyword research, target audience analysis, and quality content development.
                
                <br><br> We track our progress in attracting new clients, increasing ROI, and achieving specific business objectives. Take advantage of our fully integrated, tailored solutions for converting customer intent into sales.
                </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <h4 style="font-weight: bolder;"><a href="">Mobile App Development Services</a></h4>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">Is your business in need of a mobile app? We'll be glad to assist you! Our experienced project managers will work with you to pick the suitable technological platform, 
                establish the scope, and build the ideal app for your business, regardless of the scale of your project.<br><br> We've produced 5+ mobile apps for businesses of various sizes, 
                from start-ups to large enterprise, as one of the leading mobile app developers in Nigeria.<br><br> Our native and hybrid app developers create products that satisfy your customers and expand your business with the proper strategy, 
                creative design, and top-notch technology. Please get in touch with us to learn more about our topnotch app development services.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="ri-database-2-line"></i>
                
              </div>
              <h4 style="font-weight: bolder;"><a href="">Database</a></h4>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif">
               
                Our programmers are skilled at working with a variety; of databases to guarantee that the data in your application is secure and accessible at all times. 
                <br><br>Our experience includes PostgreSQL, MySQL, SQlite and NoSQL databases, as well as other relational and non-relational database management systems (MongoDB, Apache Cassandra). 
                <br><br> We specialize in database middleware, which simplifies distributed transaction execution, improves database services such as fault tolerance and performance scaling,
                 and adjusts to workloads through the use of adaptive queuing middleware. 
                
                </p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4 style="font-weight: bolder;"><a href="">Video Explainer Services</a></h4>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif"> 
                One of the most efficient and effective way of introducing your business, brand, products, or services to potential customers is through video.
                 Partner with expert video explainers to increase your brand awareness, get noticed faster, and expand your consumer base. <br><br>Tamarcom technology offers a wide range of digital services to clients across the country.
                  Our corporate video production services assist you in converting your visitors into brand loyalists. 
                  Use leverage on our explainer video services to make fantastic videos for your target audience.<a href="{% url  'expvideo'  %}" class="btn-get-started">Read More</a>
                </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i  class="bx bx-arch"> </i>
                
              </div>
              <h4 style="font-weight: bolder;"><a href="">Website Content Writing</h4></a> –<span style="color: limegreen;"> The right words sell well</span>
              <p style="text-align: justify; padding: 1px; font-size: 14pt;  font-family:'Times New Roman', Times, serif; color: black;"  >
                The key to a strong online presence for a business is a great website content. You don't have to worry about your content requirements as well are going to cater for that. 
                Let us help you increase traffic, leads, and sales by helping you establish your brand online with effective website content writing services. <br><br> Our one-of-a-kind web content
                 writing services will ensure that your website continually interacts, 
                communicate, and engage your customers. It does not matter if your website is big or small, the content will excite your customers, thereby increase your conversions.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Desktop App</li>
              <li data-filter=".filter-card">Mobile App</li>
              <li data-filter=".filter-web">Web Based App</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-7.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Profile Website</h4>
              <p>Profile Website</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <!--<a href="{% url  'FormView'  %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>
          

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-71.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Profile Website</h4>
              <p>Profile Website</p>
              <a href="{% static 'assets/img/portfolio/portfolio-71.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% url  'cgpapage'  %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-5.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Age Calculator</h4>
              <p>age calculator</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <!--<a href="{% url  'FormView2'  %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-4.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>BlackJack</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-41.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-6.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Twitter Sentiment Analysis</h4>
              <p>Web App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/portfolio-5.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CGPA</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-8.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Database</h4>
              <p>Database</p>
              <a href="{% static 'assets/img/portfolio/portfolio-8.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'assets/img/portfolio/portfolio-9.jpg'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Calculator</h4>
              <p>Calculator</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.jpg'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="{% url  'cgpapage'  %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/portfolio-5.png'%}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4> Age Calculator</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.png'%}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% url  'homepag'  %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

{% endblock %}
    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-1.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-2.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-3.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-4.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-5.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-6.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-7.png'%}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/clients/client-8.jpeg'%}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Tamarcom</h3>
            <p>
              2, new dawn estate <br>
              Sanyo agbamu road, Ibadan,<br>
              Oyo State, Nigeria.<br><br>
              <strong>Phone:</strong> +2348165822979<br>
              <strong>Email:</strong> tamarcom.tech@gmai.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'homepage'  %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'aboutpage'  %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'servicepage'  %}">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'webdev'  %}">Web Design & Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'digital'  %}">Digital Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'webappage'  %}">Web App Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'ecommmercepage'  %}">eCommerce</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url  'expvideo'  %}">Video Explainer</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamarcom Technology  offer digital services </p>
            <form action="#" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Tamarcom</span> Tech<spaN>nology</spaN></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">Tamarcom</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.twitter.com/teslim0" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/oyedotuna" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/teslima0" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.bxl-skype.com/teslima0" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/teslim-oyedotun-22412535" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>

  <script src="{% static 'asset/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static 'asset/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'asset/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'asset/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'asset/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{% static 'asset/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>

  <script src="{% static 'asset/js/main2.js'%}"></script>
    

</body>

</html>