

{% extends 'root.html' %}

{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="{% url  'homepage'  %}">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2> DEVELOPMENT OF WEB-Based APPS</h2>
            <h3>
                Tamarcom technology is a multi-award-winning website development company that specializes in custom web application development for startups, 
                small businesses, and largescale business. Since 2020, we've been crafting high-quality, goal-driven web apps for a variety of business sectors.
                 We leverage on cutting edge technology frameworks, APIs and database to develop future-rich, conversion-driven, and highly optimized solutions 
                 that offer a remarkable user experience.
                 </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
              <h2>Our Irresistible Web-Based Apps Services</h2>
            <p>
                
                As a reputable organization in web app development, we're dedicated to see your business growing and distinctive among its peers.
                 Our devoted team of software architects, developers, testers, project managers, and quality assurance experts work hard to deliver 
                 a high-quality service in a timely manner. Check out our extensive list of services:
                
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <h4>Development of web portal </h4>
                We are skilled in crafting an excellent user-experience web portals with an effortless combination of remarkable features and high-end 
                functionality. We customized online destinations that reflects the uniqueness of brands which can glue the potential customers to the site.
                </li>
              <li><i class="ri-check-double-line"></i> <h4>Development of enterprise apps</h4>
                We have a track record of developing enterprise-grade apps that are both reliable and secure. Our flexible web apps can change with the market and help your company flourish. We make sure a speedy time to market to give you a competitive advantage.
                </li>
              <li><i class="ri-check-double-line"></i><h4>Development of ecommerce app</h4>
                To assist you in getting started selling online, our professional web developers can create B2B and B2C online shops as well as multi-vendor marketplaces. We provide complete eCommerce website development services, from concept to execution and performance optimization.
                </li>
            </ul>
           
          </div>
        </div>


        <div class="row content">
            <div class="col-lg-6" data-aos="fade-right">
              <h2> DEVELOPMENT OF WEB-Based FULL_STACK APPS</h2>
              <h3>
                We are abreast and have deep knowledge on the newest technologies to develop web-based apps for business. 
                Check out our technological know-how that facilitate the development of an advanced full stack web application:
                
                   </h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <h2>put full-stack image here</h2>
              <p>
                  
                  As a reputable organization in web app development, we're dedicated to see your business growing and distinctive among its peers.
                   Our devoted team of software architects, developers, testers, project managers, and quality assurance experts work hard to deliver 
                   a high-quality service in a timely manner. Check out our extensive list of services:
                  
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> <h4>Development of web portal </h4>
                  We are skilled in crafting an excellent user-experience web portals with an effortless combination of remarkable features and high-end 
                  functionality. We customized online destinations that reflects the uniqueness of brands which can glue the potential customers to the site.
                  </li>
                <li><i class="ri-check-double-line"></i> <h4>Development of enterprise apps</h4>
                  We have a track record of developing enterprise-grade apps that are both reliable and secure. Our flexible web apps can change with the market and help your company flourish. We make sure a speedy time to market to give you a competitive advantage.
                  </li>
                <li><i class="ri-check-double-line"></i><h4>Development of ecommerce app</h4>
                  To assist you in getting started selling online, our professional web developers can create B2B and B2C online shops as well as multi-vendor marketplaces. We provide complete eCommerce website development services, from concept to execution and performance optimization.
                  </li>
              </ul>
             
            </div>
          </div>
  

      </div>
    </section><!-- End About Us Section -->


{% endblock %}